################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Murdock.api/Murdock.api/obj/Release/netcoreapp1.1/PubTmp/Out/Publish
