################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Murdock.api/Murdock.api/bin/Debug/netcoreapp1.1
/Murdock.api/Murdock.api/obj/Debug/netcoreapp1.1
/Murdock.api/Murdock.api/obj
